@media (max-width: 768px) {
    .six1{
        padding-left: 10px !important;
    }
    .blog3s{
        margin-left: 10px !important;
    }
   
    .top1{
        padding-left: 10px !important;
    }
    td{
        margin-left: 10px;
        overflow-x: scroll !important;
    }
    .carousel-inner{
        overflow: visible;
    }
    .log{
        padding-top: 43px;
        padding-left: 10px;
    }
    .aft1{
        padding-left: 10px;
    }
    .aft2{
        padding-left: 10px;

    }

    .aft3{
        padding-left: 10px;

    }

    .aft4{
        padding-left: 10px;

    }
    .aft5{
        padding-left: 10px;

    }
    .foots{
        padding-top: 30px;
    }
    
    .footer-t2{
        padding-left: 10px;
    }
    .conbut1{
        height: 50px;
        margin-left: -95px;

    }
    
    .blog1{
        width: 337px;
        padding-left: 10px;

    }
    .blog2{
        width: 337px;
        padding-left: 10px;

    }
    .label{
        margin-top: 20px !important;
        margin-left: 0px !important;
        padding-bottom: 26px !important;
    }
    .words1{
        padding-left: 48px !important;
    }
    .sidebar{
        padding-bottom: 52px !important;

    }
    .third-container{
        padding-left: 22px;
    }
    .im1{
        width: 347px !important;
        padding-left: 10px;
    }
    .car2{
        padding-top: 10px;
    }
    .im61{
        width: 339px !important;
        padding-left: 10px;
    }
    .but1{
        margin-top: -610px !important;
        margin-left: 185px !important;
    }
    .but2{
        margin-top: -626px !important;
        margin-left: 185px !important;
    }
    .but3{
        margin-top: -626px !important;
        margin-left: 185px !important;
    }
    .con-text{
        margin-top: 20px!important;
        margin-bottom: 6.5rem !important;
        padding-top: 22px !important;
    }
    .bibe{
        margin-top: -15px !important;
        padding-left: 0px !important;
    }
    .tatext{
        letter-spacing: 3px !important;
    }
    .tab1{
        padding-left: 20px !important;
    }
    table{
        margin-left: 10px !important;
    }
    .blognews{
        padding-bottom: 177px !important;
    }
    .blogim2{
        padding-top: 10px !important;  
      }
      .blog2s{
        display: none !important;
      }
      .blog3s{
        display: none !important;
      }
      .footer-bottom-2{
        margin-top: -23px !important;
        padding-left: 161px !important;
      }
      .textibod1 {
        padding-left: 5rem !important;
      }
      .monals{
        padding-left: 35px !important;
      }
      
     
      
   
      .im1s{
        margin-left: 200px !important;
      }
      .modal-content{
        width: 98% !important;
      }
      .vid{
        width : 423px !important;
      }
      .sidebar{
        display: none !important;
      }
      .navbar-toggler{
        margin-left: 268px;
        margin-top: -70px
      }
      .logo{
        margin-left: -11px;
        margin-top: 6px;
        padding-bottom: 10px;
      }
      .navbut{
        display: none !important;
      }
      .r1{
        width: 50% !important;
      }
      .r2{
        width: 50% !important;
        margin-left: 144px;
        margin-top: -113px;

      }
      .r3{
        width: 50% !important;
      }
      .r4{
        width: 50% !important;
        margin-left: 150px;
        margin-top: -98px;
      }
      .r5{
        width: 50% !important;
      }
      .r6{
        width: 50% !important;
        margin-left: 150px;
        margin-top: -82px;
      }
      .fothr{
        display: none !important;
      }
      .footer-t1{
        padding-left: 56px !important;
      }
      .rowfoot{
        padding-left: 50px !important;
      }
      .footerrow{
        display: none !important;
      }
      .footer-bottom{
        padding-top: 23px !important;
      }
      .wedes{
        padding-left: 32px;
      padding-top: 38px;
     }
     .footer-t3{
        padding-left: 74px !important;
  padding-bottom: 20px !important;
     }
      .footer1{
        padding-left: 44px !important;
      }
      .foot11{
        padding-left: 42px !important;
      }
      .foms{
        padding-left: 87px !important;
      }
      .form2{     
    padding-bottom: 20px;
      }
      .fom2{
        padding-top: 20px;
        
      }
      .fom3{
        padding-top: 20px;
        margin-left: 2px;

      }
      .foot22{
        margin-left: 24px;
      }
      .log{
        margin-left: -37px;
        padding-left: 72px;
      }
      .name{
        position: relative;
      }
      .tops21{
        padding-left: 87px !important;
      }
      .tops22{
        padding-left: 87px !important;
        padding-top: 41px !important;
      }
      .tops23{
        padding-left: 87px !important;
        padding-top: 41px !important;
      }
      .tops24{
        padding-left: 87px !important;
        padding-top: 41px !important;
      }
      .footpara{
       display: inline !important ;
      }
      .ph1{
        letter-spacing: 3px;
        padding-left: 31px;
        padding-top: 20px;
      }
      .com{
        padding-left: 96px;
      }
      .tables{
        width: 318px;
        overflow-x: auto;
      }
      .container-1{
        padding-left: 10px;
      }
      .footer-bottom-3{
        padding-left: 10px !important;
      }
      .carbody3{
        width: 338px;
      }
      .card-1{
        width: 338px !important;
      }
      .con-text{
        letter-spacing: 2px;
        padding-left: 10px;
      }
      .appont1{
        padding-left: 2px !important;
      }
      .mail{
        padding-left: 90px !important;
      }
      .cont51{
        border: none !important;
      }
      .fixed-icon{
        display: none !important;
      }
      .footer-text3{
        padding-left: 43px !important;
      }
    

     


}
   
